* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./photo/background.png);
}

.menu {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding-top: 51px;
    margin-left: 161px;
}

.logo {
    justify-content: flex-start;
}

.logo-img {
    width: 53px;
    height: 47px;
}

.logo-title {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 3px 8px;
}

.logo-title-link {
    font-size: 29px;
}

.logo-subtitle-link {
    font-size: 18px;
}

.menu-info {
    display: flex;
    justify-content: flex-end;
}

.menu-info-email {
    color: #FFFFFF;
    font-size: 18px;
}

.menu-info-tel {
    color: #FFFFFF;
    font-size: 18px;
}

.nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 37px;
    column-gap: 61px;
}

.nav-img {
    width: 300px;
    height: 220px;
}

.nav-link:hover .nav-link-text {
    color: #F26522;
}

.nav-link-img {
    width: 100%;
    padding-bottom: 20px;
}

.nav-link-text {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.nav-hover {
    width: 100%;
    height: 55px;
}